# Node
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
backend/backend/

# Database
wwtp.db
*.sqlite3

# Environment
.env
.env.local

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
